body{
    background-image: url("http://previews.123rf.com/images/kytalpa/kytalpa1301/kytalpa130100018/17527465-Patr-n-de-fondo-sin-fisuras-ilustraci-n-de-dibujos-f-sica-estilo-de-garabato-Foto-de-archivo.jpg")
}#grafik{
    width: 500px;
}

.titulo{
    background: whitesmoke;
    text-align: center;
    border: outset;
    font-family: "Helvetica Neue";
}

.INGRESARDATOS{
    position: absolute;
    right: 200px;
    background: blanchedalmond;
    text-align: center;
    font-family: Helvetica;
    font-size: 20px;
    border: outset;

}
#boton2{
    background-color: transparent;
    padding: 15px 25px;
    font-size: 14px;
    color: black;
    border: 2px solid black;
}
#boton2:hover{
    background-color: black;
    font-family: helvetica;
    color: white;
    padding: 18px 28px;
    text-aling: center;
    display: inline-block;
    font-size: 15px;
    border: none;
    background-color: black;
    color: white;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}


canvas {
 background: white;
    border: black 2px solid;
}